## List

In [1]:
# 1. Declare an empty list
empty_list = []
print(type(empty_list))

<class 'list'>

In [2]:
# 2. Declare a list with more than 5 items
sample_list = [1234, 'python', 2.3, 1+4j, True, 'list']
print(sample_list)

[1234, 'python', 2.3, (1+4j), True, 'list']

In [3]:
# 3. Find the length of your list
print("Length of sample_list:",len(sample_list))

Length of sample_list: 6

In [4]:
# 4.Get the first item, the middle item and the last item of the list
print("First item:",sample_list[0],",Middle item:",sample_list[len(sample_list)//2],",Last item:",sample_list[-1])

First item: 1234 ,Middle item: (1+4j) ,Last item: list

In [5]:
# 5.Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['Aswin', 25, 180.00, 'single', 'Naduvilkara']
print(mixed_data_types)

['Aswin', 25, 180.0, 'single', 'Naduvilkara']

In [6]:
# 6. Declare a list variable named it_companies and assign initial values
# Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['Facebook','Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon' ]

In [7]:
#7. Print the list using print()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [8]:
# 8. Print the number of companies in the list
print("Length of it_companies:",len(it_companies))

Length of it_companies: 7

In [9]:
# 9. Print the first, middle and last company
print("First company:",it_companies[0],",Middle company:",it_companies[len(it_companies)//2],",Last company:",it_companies[-1])

First company: Facebook ,Middle company: Apple ,Last company: Amazon

In [10]:
# 10. Print the list after modifying one of the companies
it_companies[5] = 'Nvidia'
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Nvidia', 'Amazon']

In [11]:
# 11. Add an IT company to it_companies
it_companies.append('Oracle')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Nvidia', 'Amazon', 'Oracle']

In [12]:
# 12. Insert an IT company in the middle of the companies list
print("Length of it_companies:",len(it_companies))
it_companies.insert(4,'TCS')
print(it_companies)

Length of it_companies: 8
['Facebook', 'Google', 'Microsoft', 'Apple', 'TCS', 'IBM', 'Nvidia', 'Amazon', 'Oracle']

In [13]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[1] = it_companies[1].upper()
print(it_companies)

['Facebook', 'GOOGLE', 'Microsoft', 'Apple', 'TCS', 'IBM', 'Nvidia', 'Amazon', 'Oracle']

In [14]:
# 14. Join the it_companies with a string '#;  '
new_list = '#,'.join(it_companies)
print(new_list)

Facebook#,GOOGLE#,Microsoft#,Apple#,TCS#,IBM#,Nvidia#,Amazon#,Oracle

In [15]:
# 15. Check if a certain company exists in the it_companies list.
print('Wipro' in it_companies)

False

In [16]:
# 16. Sort the list using sort() method
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'GOOGLE', 'IBM', 'Microsoft', 'Nvidia', 'Oracle', 'TCS']

In [17]:
# 17. Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

['TCS', 'Oracle', 'Nvidia', 'Microsoft', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']

In [18]:
# 18. Slice out the first 3 companies from the list
print("First 3 companies:",it_companies[:3])

First 3 companies: ['TCS', 'Oracle', 'Nvidia']

In [19]:
# 19. Slice out the last 3 companies from the list
print("Last 3 companies:",it_companies[-3:])

Last 3 companies: ['Facebook', 'Apple', 'Amazon']

In [20]:
# 20. Slice out the middle IT company or companies from the list
print("Middle company:",it_companies[len(it_companies)//2])

Middle company: IBM

In [21]:
# 21. Remove the first IT company from the list
it_companies.pop(0)
print(it_companies)

['Oracle', 'Nvidia', 'Microsoft', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']

In [22]:
# 22. Remove the middle IT company or companies from the list
del it_companies[3:5]
print(it_companies)

['Oracle', 'Nvidia', 'Microsoft', 'Facebook', 'Apple', 'Amazon']

In [23]:
# 23. Remove the last IT company from the list
it_companies.pop(-1)
print(it_companies)

['Oracle', 'Nvidia', 'Microsoft', 'Facebook', 'Apple']

In [24]:
# 24. Remove all IT companies from the list
it_companies.clear()

In [79]:
# 25. Destroy the IT companies list
del it_companies

In [26]:
# 26. Join the following lists:
# front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
# back_end = ['Node','Express', 'MongoDB']
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
new_list = front_end + back_end
print(new_list)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [27]:
# 27. After joining the lists in question 26. Copy the joined list and assign it to a
# variable full_stack, then insert Python and SQL after Redux.
full_stack = new_list.copy()
full_stack.insert(5,'Python')
full_stack.insert(6,'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [28]:
print(new_list)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [29]:
# 28. Sort the list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print("Sorted age list:",ages)
min_age = min(ages)
print("Min age:",min_age)
max_age = max(ages)
print("Max age:",max_age)

Sorted age list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26

In [30]:
# 29.Add the min age and the max age again to the list
ages.extend([min_age, max_age])
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [31]:
# 30.Find the median age (one middle item or two middle items divided by two)
ages.sort()
n = len(ages)
if n % 2 == 0:
  median = (ages[n//2] + ages[n//2 + 1]) // 2
else:
  median = ages[n//2]
print("Median is",median)

Median is 24

In [32]:
# 31.Find the average age (sum of all items divided by their number )
sum = 0
for i in ages:
    sum = sum + i
avg_age = sum / len(ages)
print("Average of age is",avg_age)

Average of age is 22.75

In [33]:
# 32.Find the range of the ages (max minus min)
range = max(ages) - min(ages)
print("Range of the ages is",range)

Range of the ages is 7

In [34]:
# 33.Compare the value of (min - average) and (max - average), use abs() method
print("(min - average) is",abs(min(ages)- avg_age))
print("(max - average) is",abs(max(ages)- avg_age))

(min - average) is 3.75
(max - average) is 3.25

In [35]:
# 34.Find the middle country(ies) in the countries list
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
countries[len(countries)//2]

'Finland'

In [36]:
# 35.Divide the countries list into two equal lists if it is even if not one more country for the first half.
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark','India']
print(countries[0:4])
print(countries[4:9])

['China', 'Russia', 'USA', 'Finland']
['Sweden', 'Norway', 'Denmark', 'India']

In [37]:
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark'].
# 36.Unpack the first three countries and the rest as scandic countries.
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first_country, second_country, third_country = countries[0:3]
print(first_country)
print(second_country)
print(third_country)
scandic_countries = countries[3:]
print("Scandic countries:",scandic_countries)

China
Russia
USA
Scandic countries: ['Finland', 'Sweden', 'Norway', 'Denmark']

## Tuple

In [38]:
# 1. Create an empty tuple
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [39]:
# 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
sister_brother = ('Achu','Appu','Kichu','Gokul','Ammu')

In [40]:
# 3. Join brothers and sisters tuples and assign it to siblings
brothers = ('Appu','Kichu','Gokul')
sisters = ('Ammu','Achu')
siblings = brothers + sisters
print(siblings)

('Appu', 'Kichu', 'Gokul', 'Ammu', 'Achu')

In [41]:
# 4. How many siblings do you have?
print("Length of siblings:",len(siblings))

Length of siblings: 5

In [42]:
# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members
family_members = siblings + ('Ajith', 'Beena')
print(family_members)

('Appu', 'Kichu', 'Gokul', 'Ammu', 'Achu', 'Ajith', 'Beena')

In [43]:
# 6. Unpack siblings and parents from family_members
parents = family_members[5:7]
print("Parents:",parents)
siblings = family_members[0:5]
print("Siblings:",siblings)

Parents: ('Ajith', 'Beena')
Siblings: ('Appu', 'Kichu', 'Gokul', 'Ammu', 'Achu')

In [44]:
# 7. Create fruits, vegetables and animal products tuples. Join the three tuples and
# assign it to a variable called food_stuff_tp.
fruits = ('Apple','Mango','Orange')
vegetables = ('Carrot','Potato','Onion')
animal_products = ('Milk','Ghee','Paneer')
food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

('Apple', 'Mango', 'Orange', 'Carrot', 'Potato', 'Onion', 'Milk', 'Ghee', 'Paneer')

In [45]:
# 8. Change the about food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

['Apple', 'Mango', 'Orange', 'Carrot', 'Potato', 'Onion', 'Milk', 'Ghee', 'Paneer']

In [46]:
# 9. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt
print("Middle item in the food_stuff_lt list:",food_stuff_lt[len(food_stuff_lt)//2])

Middle item in the food_stuff_lt list: Potato

In [47]:
# 10.  Slice out the first three items and the last three items from food_staff_lt list
print("First 3:",food_stuff_lt[0:2])
print("Last 3:",food_stuff_lt[-3:])

First 3: ['Apple', 'Mango']
Last 3: ['Milk', 'Ghee', 'Paneer']

In [48]:
# 11. Delete the food_staff_tp tuple completely
del food_stuff_tp

In [49]:
# 12. Check if an item exists in tuple:
# Check if 'Estonia' is a nordic country
# Check if 'Iceland' is a nordic country
# nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
print(('Estonia' in nordic_countries))
print(('Iceland' in nordic_countries))

False
True

## Set

In [50]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [51]:
# 1. Find the length of the set it_companies
print("Length of it_companies:",len(it_companies))

Length of it_companies: 7

In [52]:
# 2.Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)

{'Facebook', 'IBM', 'Apple', 'Microsoft', 'Amazon', 'Google', 'Oracle', 'Twitter'}

In [53]:
# 3. Insert multiple IT companies at once to the set it_companies
it_companies.update(['Nvidia','TCS','Infosys'])
print(it_companies)

{'IBM', 'TCS', 'Infosys', 'Microsoft', 'Facebook', 'Oracle', 'Apple', 'Amazon', 'Google', 'Twitter', 'Nvidia'}

In [54]:
# 4. Remove one of the companies from the set it_companies
it_companies.remove('TCS')
print(it_companies)

{'IBM', 'Infosys', 'Microsoft', 'Facebook', 'Oracle', 'Apple', 'Amazon', 'Google', 'Twitter', 'Nvidia'}

In [55]:
# 5. What is the difference between remove and discard
# Both discard() and remove() removes the element but in remove() if the element is not present it shows error by saying the element is not present and in discard() it will not show error even the element is not present.

In [56]:
# 6. Join A and B
A | B
# A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [57]:
# 7. Find A intersection B
A & B

{19, 20, 22, 24, 25, 26}

In [58]:
# 8. Is A subset of B
print(A.issubset(B))

True

In [59]:
# 9. Are A and B disjoint sets
print(A.isdisjoint(B))

False

In [60]:
# 10. Join A with B and B with A
print("Join A with B",A | B)
print("Join B with A",B | A)

Join A with B {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A {19, 20, 22, 24, 25, 26, 27, 28}

In [61]:
# 11. What is the symmetric difference between A and B
print(A ^ B)

{27, 28}

In [62]:
 # 12. Delete the sets completely
 del A

In [63]:
# 13. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
list_age = [22, 19, 24, 25, 26, 24, 25, 24]
set_age = set(list_age)
print(set_age)

{19, 22, 24, 25, 26}

In [64]:
if len(set_age) > len(list_age):
  print("Length of set is bigger")
else:
  print("Length of list is bigger")

Length of list is bigger

In [65]:
# 14. "I am a teacher and I love to inspire and teach people."
# How many unique words have been used in the sentence? Use the split methods and set to get the unique words.
sentence = "I am a teacher and I love to inspire and teach people."
split_sentence = sentence.split()
print('Splitted sentence:',split_sentence)
print("Unique words:",set(split_sentence))
print("No.of Unique words:",len(set(split_sentence)))

Splitted sentence: ['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.']
Unique words: {'am', 'inspire', 'to', 'teach', 'teacher', 'I', 'love', 'people.', 'a', 'and'}
No.of Unique words: 10

In [66]:
# 15. Explain the difference between the following data types: string, list, tuple and set
# String = immutable, ordered, duplicates, enclosed in "" or ''.
# List = mutable, ordered, duplicates, multiple data type, enclosed in [].
# Tuple = immutable, ordered, duplicates, multiple data type, enclosed in ().
# Set = mutable, unordered, no duplicates, multiple data type, enclosed in {}. If we want to create an empty set use set().

## Dictionaries

In [67]:
# 1. Create an empty dictionary called dogs
dogs = {}
print(type(dogs))

<class 'dict'>

In [68]:
# 2. Add name, color, breed, legs, age to the dog dictionary
dog = {'name':'Max',
       'color':'White',
       'breed': 'Husky',
       'legs':4,
       'age':2}
print(dog)

{'name': 'Max', 'color': 'White', 'breed': 'Husky', 'legs': 4, 'age': 2}

In [69]:
# 3. Create a student dictionary and add first_name, last_name, gender, age,
    # marital status, skills, country, city and address as keys for the dictionary
student = {'first_name':'Aswin',
           'last_name':'ajith',
           'gender':'Male',
           'age':25,
           'marital_status':'Single',
           'skills':['Coder','Communication','problem solving'],
           'country':'India',
           'city':'Thrissur',
           'address':'Naduvilkara P.O'}
print(student)

{'first_name': 'Aswin', 'last_name': 'ajith', 'gender': 'Male', 'age': 25, 'marital_status': 'Single', 'skills': ['Coder', 'Communication', 'problem solving'], 'country': 'India', 'city': 'Thrissur', 'address': 'Naduvilkara P.O'}

In [70]:
# 4. Get the length of the student dictionary
print("Length of student dictionary:",len(student))

Length of student dictionary: 9

In [71]:
# 5. Get the value of skills and check the data type, it should be a list
print(student['skills'])
print(type(student['skills']))

['Coder', 'Communication', 'problem solving']
<class 'list'>

In [72]:
# 6. Modify the skills values by adding one or two skills
student['skills'].extend(['Teamplayer'])
print(student)

{'first_name': 'Aswin', 'last_name': 'ajith', 'gender': 'Male', 'age': 25, 'marital_status': 'Single', 'skills': ['Coder', 'Communication', 'problem solving', 'Teamplayer'], 'country': 'India', 'city': 'Thrissur', 'address': 'Naduvilkara P.O'}

In [73]:
# 7. Get the dictionary keys as a list
print("Keys as list:",list(student.keys()))

Keys as list: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']

In [74]:
# 8. Get the dictionary values as a list
print("Values as list:",list(student.values()))

Values as list: ['Aswin', 'ajith', 'Male', 25, 'Single', ['Coder', 'Communication', 'problem solving', 'Teamplayer'], 'India', 'Thrissur', 'Naduvilkara P.O']

In [75]:
# 9. Change the dictionary to a list of tuples using items() method
print("Dict as list of tuples:",list(student.items()))

Dict as list of tuples: [('first_name', 'Aswin'), ('last_name', 'ajith'), ('gender', 'Male'), ('age', 25), ('marital_status', 'Single'), ('skills', ['Coder', 'Communication', 'problem solving', 'Teamplayer']), ('country', 'India'), ('city', 'Thrissur'), ('address', 'Naduvilkara P.O')]

In [76]:
# 10. Delete one of the items in the dictionary
del student['marital_status']

In [77]:
print(student)

{'first_name': 'Aswin', 'last_name': 'ajith', 'gender': 'Male', 'age': 25, 'skills': ['Coder', 'Communication', 'problem solving', 'Teamplayer'], 'country': 'India', 'city': 'Thrissur', 'address': 'Naduvilkara P.O'}

In [78]:
# 11. Delete one of the dictionaries
del student