#### Dictionaries - Exercises

In [ ]:
# 1. Create an empty dictionary called dogs
dogs = {}
print(type(dogs))

<class 'dict'>

In [1]:
# 2. Add name, color, breed, legs, age to the dog dictionary
dog = {'name':'Max',
       'color':'White',
       'breed': 'Husky',
       'legs':4,
       'age':2}
print(dog)

{'name': 'Max', 'color': 'White', 'breed': 'Husky', 'legs': 4, 'age': 2}

In [2]:
# 3. Create a student dictionary and add first_name, last_name, gender, age,
    # marital status, skills, country, city and address as keys for the dictionary
student = {'first_name':'Aswin',
           'last_name':'ajith',
           'gender':'Male',
           'age':25,
           'marital_status':'Single',
           'skills':['Coder','Communication','problem solving'],
           'country':'India',
           'city':'Thrissur',
           'address':'Naduvilkara P.O'}
print(student)

{'first_name': 'Aswin', 'last_name': 'ajith', 'gender': 'Male', 'age': 25, 'marital_status': 'Single', 'skills': ['Coder', 'Communication', 'problem solving'], 'country': 'India', 'city': 'Thrissur', 'address': 'Naduvilkara P.O'}

In [3]:
# 4. Get the length of the student dictionary
print("Length of student dictionary:",len(student))

Length of student dictionary: 9

In [4]:
# 5. Get the value of skills and check the data type, it should be a list
print(student['skills'])
print(type(student['skills']))

['Coder', 'Communication', 'problem solving']
<class 'list'>

In [5]:
# 6. Modify the skills values by adding one or two skills
student['skills'].extend(['Teamplayer'])
print(student)

{'first_name': 'Aswin', 'last_name': 'ajith', 'gender': 'Male', 'age': 25, 'marital_status': 'Single', 'skills': ['Coder', 'Communication', 'problem solving', 'Teamplayer'], 'country': 'India', 'city': 'Thrissur', 'address': 'Naduvilkara P.O'}

In [6]:
# 7. Get the dictionary keys as a list
print("Keys as list:",list(student.keys()))

Keys as list: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']

In [7]:
# 8. Get the dictionary values as a list
print("Values as list:",list(student.values()))

Values as list: ['Aswin', 'ajith', 'Male', 25, 'Single', ['Coder', 'Communication', 'problem solving', 'Teamplayer'], 'India', 'Thrissur', 'Naduvilkara P.O']

In [8]:
# 9. Change the dictionary to a list of tuples using items() method
print("Dict as list of tuples:",list(student.items()))

Dict as list of tuples: [('first_name', 'Aswin'), ('last_name', 'ajith'), ('gender', 'Male'), ('age', 25), ('marital_status', 'Single'), ('skills', ['Coder', 'Communication', 'problem solving', 'Teamplayer']), ('country', 'India'), ('city', 'Thrissur'), ('address', 'Naduvilkara P.O')]

In [9]:
# 10. Delete one of the items in the dictionary
del student['marital_status']

In [10]:
print(student)

{'first_name': 'Aswin', 'last_name': 'ajith', 'gender': 'Male', 'age': 25, 'skills': ['Coder', 'Communication', 'problem solving', 'Teamplayer'], 'country': 'India', 'city': 'Thrissur', 'address': 'Naduvilkara P.O'}

In [11]:
# 11. Delete one of the dictionaries
del student

In [12]:
student

NameError: name 'student' is not defined