In [1]:
# 1. Declare an empty list
empty_list = []
print(type(empty_list))

<class 'list'>

In [2]:
# 2. Declare a list with more than 5 items
sample_list = [1234, 'python', 2.3, 1+4j, True, 'list']
print(sample_list)

[1234, 'python', 2.3, (1+4j), True, 'list']

In [3]:
# 3. Find the length of your list
print("Length of sample_list:",len(sample_list))

Length of sample_list: 6

In [6]:
# 4.Get the first item, the middle item and the last item of the list
print("First item:",sample_list[0],",Middle item:",sample_list[len(sample_list)//2],",Last item:",sample_list[-1])

First item: 1234 ,Middle item: (1+4j) ,Last item: list

In [7]:
# 5.Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['Aswin', 25, 180.00, 'single', 'Naduvilkara']
print(mixed_data_types)

['Aswin', 25, 180.0, 'single', 'Naduvilkara']

In [23]:
# 6. Declare a list variable named it_companies and assign initial values
# Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['Facebook','Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon' ]

In [24]:
#7. Print the list using print()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [25]:
# 8. Print the number of companies in the list
print("Length of it_companies:",len(it_companies))

Length of it_companies: 7

In [26]:
# 9. Print the first, middle and last company
print("First company:",it_companies[0],",Middle company:",it_companies[len(it_companies)//2],",Last company:",it_companies[-1])

First company: Facebook ,Middle company: Apple ,Last company: Amazon

In [27]:
# 10. Print the list after modifying one of the companies
it_companies[5] = 'Nvidia'
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Nvidia', 'Amazon']

In [28]:
# 11. Add an IT company to it_companies
it_companies.append('Oracle')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Nvidia', 'Amazon', 'Oracle']

In [29]:
# 12. Insert an IT company in the middle of the companies list
print("Length of it_companies:",len(it_companies))
it_companies.insert(4,'TCS')
print(it_companies)

Length of it_companies: 8
['Facebook', 'Google', 'Microsoft', 'Apple', 'TCS', 'IBM', 'Nvidia', 'Amazon', 'Oracle']

In [30]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[1] = it_companies[1].upper()
print(it_companies)

['Facebook', 'GOOGLE', 'Microsoft', 'Apple', 'TCS', 'IBM', 'Nvidia', 'Amazon', 'Oracle']

In [31]:
# 14. Join the it_companies with a string '#;  '
new_list = '#,'.join(it_companies)
print(new_list)

Facebook#,GOOGLE#,Microsoft#,Apple#,TCS#,IBM#,Nvidia#,Amazon#,Oracle

In [32]:
# 15. Check if a certain company exists in the it_companies list.
print('Wipro' in it_companies)

False

In [33]:
# 16. Sort the list using sort() method
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'GOOGLE', 'IBM', 'Microsoft', 'Nvidia', 'Oracle', 'TCS']

In [34]:
# 17. Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

['TCS', 'Oracle', 'Nvidia', 'Microsoft', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']

In [35]:
# 18. Slice out the first 3 companies from the list
print("First 3 companies:",it_companies[:3])

First 3 companies: ['TCS', 'Oracle', 'Nvidia']

In [36]:
# 19. Slice out the last 3 companies from the list
print("Last 3 companies:",it_companies[-3:])

Last 3 companies: ['Facebook', 'Apple', 'Amazon']

In [37]:
# 20. Slice out the middle IT company or companies from the list
print("Middle company:",it_companies[len(it_companies)//2])

Middle company: IBM

In [38]:
# 21. Remove the first IT company from the list
it_companies.pop(0)
print(it_companies)

['Oracle', 'Nvidia', 'Microsoft', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']

In [39]:
# 22. Remove the middle IT company or companies from the list
del it_companies[3:5]
print(it_companies)

['Oracle', 'Nvidia', 'Microsoft', 'Facebook', 'Apple', 'Amazon']

In [40]:
# 23. Remove the last IT company from the list
it_companies.pop(-1)
print(it_companies)

['Oracle', 'Nvidia', 'Microsoft', 'Facebook', 'Apple']

In [41]:
# 24. Remove all IT companies from the list
it_companies.clear()

In [42]:
# 25. Destroy the IT companies list
del it_companies
print(it_companies)

NameError: name 'it_companies' is not defined

In [43]:
# 26. Join the following lists:
# front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
# back_end = ['Node','Express', 'MongoDB']
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
new_list = front_end + back_end
print(new_list)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [44]:
# 27. After joining the lists in question 26. Copy the joined list and assign it to a
# variable full_stack, then insert Python and SQL after Redux.
full_stack = new_list.copy()
full_stack.insert(5,'Python')
full_stack.insert(6,'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [45]:
print(new_list)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#Second Set Assignment

The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [ ]:
# Sort the list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print("Sorted age list:",ages)
min_age = min(ages)
print("Min age:",min_age)
max_age = max(ages)
print("Max age:",max_age)

Sorted age list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26

In [ ]:
# Add the min age and the max age again to the list
ages.extend([min_age, max_age])
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [ ]:
# Find the median age (one middle item or two middle items divided by two)
ages.sort()
n = len(ages)
if n % 2 == 0:
  median = (ages[n//2] + ages[n//2 + 1]) // 2
else:
  median = ages[n//2]
print("Median is",median)

Median is 24

In [ ]:
# Find the average age (sum of all items divided by their number )
sum = 0
for i in ages:
    sum = sum + i
avg_age = sum / len(ages)
print("Average of age is",avg_age)

Average of age is 22.75

In [ ]:
# Find the range of the ages (max minus min)
range = max(ages) - min(ages)
print("Range of the ages is",range)

Range of the ages is 7

In [ ]:
# Compare the value of (min - average) and (max - average), use abs() method
print("(min - average) is",abs(min(ages)- avg_age))
print("(max - average) is",abs(max(ages)- avg_age))

(min - average) is 3.75
(max - average) is 3.25

In [ ]:
# Find the middle country(ies) in the countries list
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
countries[len(countries)//2]

'Finland'

In [ ]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark','India']
print(countries[0:4])
print(countries[4:9])

['China', 'Russia', 'USA', 'Finland']
['Sweden', 'Norway', 'Denmark', 'India']

In [46]:
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the
# first three countries and the rest as scandic countries.
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first_country, second_country, third_country = countries[0:3]
print(first_country)
print(second_country)
print(third_country)
scandic_countries = countries[3:]
print("Scandic countries:",scandic_countries)

China
Russia
USA
Scandic countries: ['Finland', 'Sweden', 'Norway', 'Denmark']