### Sets - Exercises

In [2]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [3]:
# 1. Find the length of the set it_companies
print("Length of it_companies:",len(it_companies))

Length of it_companies: 7

In [4]:
# 2.Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)

{'Apple', 'Amazon', 'Oracle', 'Microsoft', 'Facebook', 'Twitter', 'Google', 'IBM'}

In [7]:
# 3. Insert multiple IT companies at once to the set it_companies
it_companies.update(['Nvidia','TCS','Infosys'])
print(it_companies)

{'Oracle', 'Infosys', 'Microsoft', 'Twitter', 'Google', 'IBM', 'Nvidia', 'Amazon', 'TCS', 'Apple', 'Facebook'}

In [8]:
# 4. Remove one of the companies from the set it_companies
it_companies.remove('TCS')
print(it_companies)

{'Oracle', 'Infosys', 'Microsoft', 'Twitter', 'Google', 'IBM', 'Nvidia', 'Amazon', 'Apple', 'Facebook'}

In [ ]:
# 5. What is the difference between remove and discard
# Both discard() and remove() removes the element but in remove() if the element is not present it shows error by saying the element is not present and in discard() it will not show error even the element is not present.

In [ ]:
# 6. Join A and B
A | B
# A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
# 7. Find A intersection B
A & B

{19, 20, 22, 24, 25, 26}

In [ ]:
# 8. Is A subset of B
print(A.issubset(B))

True

In [ ]:
# 9. Are A and B disjoint sets
print(A.isdisjoint(B))

False

In [ ]:
# 10. Join A with B and B with A
print("Join A with B",A | B)
print("Join B with A",B | A)

Join A with B {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A {19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
# 11. What is the symmetric difference between A and B
print(A ^ B)

{27, 28}

In [ ]:
 # 12. Delete the sets completely
 del A

In [ ]:
A

NameError: name 'A' is not defined

In [11]:
# 13. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
list_age = [22, 19, 24, 25, 26, 24, 25, 24]
set_age = set(list_age)
print(set_age)

{19, 22, 24, 25, 26}

In [12]:
if len(set_age) > len(list_age):
  print("Length of set is bigger")
else:
  print("Length of list is bigger")

Length of list is bigger

In [ ]:
# 14. "I am a teacher and I love to inspire and teach people."
# How many unique words have been used in the sentence? Use the split methods and set to get the unique words.
sentence = "I am a teacher and I love to inspire and teach people."
split_sentence = sentence.split()
print('Splitted sentence:',split_sentence)
print("Unique words:",set(split_sentence))
print("No.of Unique words:",len(set(split_sentence)))

Splitted sentence: ['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.']
Unique words: {'a', 'teacher', 'to', 'love', 'am', 'inspire', 'teach', 'and', 'I', 'people.'}
No.of Unique words: 10

In [ ]:
# 15. Explain the difference between the following data types: string, list, tuple and set
# String = immutable, ordered, duplicates, enclosed in "" or ''.
# List = mutable, ordered, duplicates, multiple data type, enclosed in [].
# Tuple = immutable, ordered, duplicates, multiple data type, enclosed in ().
# Set = mutable, unordered, no duplicates, multiple data type, enclosed in {}. If we want to create an empty set use set().