### Exercises: Tuples

In [1]:
# 1. Create an empty tuple
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [2]:
# 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
sister_brother = ('Achu','Appu','Kichu','Gokul','Ammu')

In [3]:
# 3. Join brothers and sisters tuples and assign it to siblings
brothers = ('Appu','Kichu','Gokul')
sisters = ('Ammu','Achu')
siblings = brothers + sisters
print(siblings)

('Appu', 'Kichu', 'Gokul', 'Ammu', 'Achu')

In [4]:
# 4. How many siblings do you have?
print("Length of siblings:",len(siblings))

Length of siblings: 5

In [5]:
# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members
family_members = siblings + ('Ajith', 'Beena')
print(family_members)

('Appu', 'Kichu', 'Gokul', 'Ammu', 'Achu', 'Ajith', 'Beena')

In [6]:
# 6. Unpack siblings and parents from family_members
parents = family_members[5:7]
print("Parents:",parents)
siblings = family_members[0:5]
print("Siblings:",siblings)

Parents: ('Ajith', 'Beena')
Siblings: ('Appu', 'Kichu', 'Gokul', 'Ammu', 'Achu')

In [7]:
# 7. Create fruits, vegetables and animal products tuples. Join the three tuples and
# assign it to a variable called food_stuff_tp.
fruits = ('Apple','Mango','Orange')
vegetables = ('Carrot','Potato','Onion')
animal_products = ('Milk','Ghee','Paneer')
food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

('Apple', 'Mango', 'Orange', 'Carrot', 'Potato', 'Onion', 'Milk', 'Ghee', 'Paneer')

In [8]:
# 8. Change the about food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

['Apple', 'Mango', 'Orange', 'Carrot', 'Potato', 'Onion', 'Milk', 'Ghee', 'Paneer']

In [11]:
# 9. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt
print("Middle item in the food_stuff_lt list:",food_stuff_lt[len(food_stuff_lt)//2])

Middle item in the food_stuff_lt list: Potato

In [ ]:
# 10.  Slice out the first three items and the last three items from food_staff_lt list
print("First 3:",food_stuff_lt[0:2])
print("Last 3:",food_stuff_lt[-3:])

First 3: ['Apple', 'Mango']
Last 3: ['Milk', 'Ghee', 'Paneer']

In [ ]:
# 11. Delete the food_staff_tp tuple completely
del food_stuff_tp

In [ ]:
# 12. Check if an item exists in tuple:
# Check if 'Estonia' is a nordic country
# Check if 'Iceland' is a nordic country
# nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
print(('Estonia' in nordic_countries))
print(('Iceland' in nordic_countries))

False
True